blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
flask==3.1.3
gunicorn==25.3.0
idna==3.11
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.5.3
markupsafe==3.0.3
momo-py @ git+https://github.com/ji6czd/momo@c95269979d6645b3ce28aecc4721f7968a78cd7b#subdirectory=momopy
numpy==2.4.4
packaging==26.0
protobuf==7.34.1
python-crfsuite==0.9.12
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
sudachidict-core==20260116
sudachipy==0.6.11
threadpoolctl==3.6.0
urllib3==2.6.3
werkzeug==3.1.8
